body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
