{{#each this}}
<div class="btn-id">
    <button data-id="{{id}}" class="btn-youtube">
        <div class="overlay-btn-youtube-text" data-id="{{id}}">
            <h2 class="btn-youtube-text">Film</h2>
        </div>
    </button>
</div>
{{/each}}