<div class="lib-page-header container">
    <nav class="navigation">
        <a href="#" class="logo link" data-link="home" aria-label="Логотип сайта">
            <svg class="logo-icon" data-link="home" width="24" height="24">
                <use href="{{this}}#icon-film" data-link="home"></use>
            </svg>
            <h1 class="logo-text" data-link="home">Filmoteka</h1>
        </a>
        <ul class="navigation-list list">
            <li class="navigation-item">
                <a href="#" class="navigation-link link" data-link="home">Home</a>
            </li>
            <li class="navigation-item">
                <a href="#" class="navigation-link current link" data-link="lib">My library</a>
            </li>
        </ul>
    </nav>
        <ul class="lib-nav list">
            <li class="lib-nav-item">
                <label class="lib-nav-label">
                    <input type="radio" name="lib-nav-btn" value="Watched" class="lib-nav-input visually-hidden" checked />
                    <span class="lib-nav-btn" data-name="watchedMovies" data-btn="lib-nav">Watched</span>
                </label>
            </li>
            <li class="lib-nav-item">
                <label class="lib-nav-label">
                    <input type="radio" name="lib-nav-btn" value="Queue" class="lib-nav-input visually-hidden" />
                    <span class="lib-nav-btn"  data-name="queueMovies" data-btn="lib-nav">Queue</span>
                </label>
            </li>
        </ul>
    
</div>