<div class="header-section-lib container">
    <nav class="navigation">
        <a href="#" class="navigation-logo logo link" id='logo' aria-label="Логотип сайта">
            <svg class="logo-icon" width="24" height="24">
                <use href="{{this}}#icon-film"></use>
            </svg>
            <span class="logo-name">Filmoteka</span>
        </a>
        <ul class="library-page-nav-list list">
            <li class="nav-item">
                <a href="#" class="nav-link link" id="home-btn">home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link is-current link" id="lib-btn">my library</a>
            </li>
        </ul>
    </nav>
        <ul class="storage js-choice-storage">
            <li class="storage-item list">
                <label class="storage-label">
                    <input type="radio" name="storage-btn" value="Watched" class="storage-input visuallyhidden"
                        checked />
                    <span class="storage-btn">Watched</span>
                </label>
            </li>
            <li class="storage-item list">
                <label class="storage-label">
                    <input type="radio" name="storage-btn" value="Queue" class="storage-input visuallyhidden" />
                    <span class="storage-btn">Queue</span>
                </label>
            </li>
        </ul>
    
</div>