<div class="clear-list">
    <h2 class="clear-list-title">Oops, there is nothing here...</h2>
    <p class="clear-list-title">No movies have been added yet. Let's go pick something to your liking</p>
    <a class="clear-list-link" href="">go to HOME</a>
</div>