:root {
  --main-light-color: #ffffff;
  --accent-color: #ff6b08;
  --main-text-color: #000000;
  --secondary-text-color: #8c8c8c;
  --footer-text-color: #545454;
  --secondary-bg-color: #f7f7f7;
  --icon-color: #818181;
  --error-color: #ff001b;
}
