
<div class="backdrop is-hidden" data-modal>
    <div class="modal-window">
        <button class="modal-close-btn" type="button" data-modal-close>
          <svg class="close-btn-icon" width='30' height='30' data-modal-close>
            <use href="./images/icons/sprite.svg#icon-close"></use>
          </svg>
        </button>
        
        <h1 class="modal-title">Creators of the project:</h1>

        <div class="students-container">
        <div class="project-team">
            <picture>
                <source srcset="./images/stutents/Dima.webp" type="image/webp" />
                <img class="team-photo" src="./images/stutents/Dima.jpg" alt="Dmitriy Snitko">     
            </picture>
            <div calss='project-description'>
                <h2 class="position-name">Team Leader</h2>
                <p class="student-name" lang="en"> Dmitriy Snitko </p>
            </div>
        </div>

       <div class="project-team">
        <picture>
            <source srcset="./images/stutents/Tania.webp" type="image/webp" />
            <img class="team-photo" src="./images/stutents/Tania.jpg" alt="Tetiana Parkhoniuk">    
        </picture>
           <div calss='project-description'>
               <h2 class="position-name">Scrum Master</h2>
               <p class="student-name" lang="en"> Tetiana Parkhoniuk </p>
           </div>
        </div>
        
       <div class="project-team">
        <picture>
            <source srcset="./images/stutents/Aliona.webp" type="image/webp" />
            <img class="team-photo" src="./images/stutents/Aliona.jpg" alt="Aliona">
        </picture>
        <div calss="project-description">
            <h2 class="position-name">Developer</h2>
            <p class="student-name" lang="en"> Aliona Chaban</p>
        </div>
       </div>
       
       <div class="project-team">
        <picture>
            <source srcset="./images/stutents/AnnaI.webp" type="image/webp" />
            <img class="team-photo" src="./images/stutents/AnnaI.jpg" alt="Anna Izhovska">
        </picture>
        <div calss='project-description'>
            <h2 class="position-name">Developer</h2>
            <p class="student-name" lang="en"> Anna Izhovska </p>
        </div>
       </div>
       
       <div class="project-team">
        <picture>
            <source srcset="./images/stutents/AnnaL.webp" type="image/webp" />
            <img class="team-photo" src="./images/stutents/AnnaL.jpeg" alt="Anna Lukashova">
        </picture>
        <div calss='project-description'>
            <h2 class="position-name">Developer</h2>
            <p class="student-name" lang="en"> Anna Lukashova </p>
        </div>
       </div>
       
       <div class="project-team">
        <picture>
            <source srcset="./images/stutents/Olga.webp" type="image/webp" />
            <img class="team-photo" src="./images/stutents/Olga.jpeg" alt="Olga Ulyanchuk">
        </picture> 
        <div calss='project-description'>
            <h2 class="position-name">Developer</h2>
            <p class="student-name" lang="en"> Olga Ulyanchuk </p>
        </div>
       </div>
       
       <div class="project-team">
        <picture>
            <source srcset="./images/stutents/Alina.webp" type="image/webp" />
            <img class="team-photo" src="./images/stutents/Alina.jpeg" alt="Alina Ulyanchuk">
        </picture> 
        <div calss='project-description'>
            <h2 class="position-name">Developer</h2>
            <p class="student-name" lang="en"> Alina Shveida </p>
        </div>
     </div>
    </div>
    </div>
  </div>