<!-- Home Page Header -->
<div class="home-page-header-container container">
    <div class="home-page-nav-container">
        <a href="./index.html" class="logo link" aria-label="Логотип сайта">
            <svg class="logo-icon" width="24px" height="24px">
                <use href="./images/icons/sprite.svg#icon-film"></use>
            </svg>
        </a>
        <ul class="home-page-nav-list list">
            <li class="home-page-nav-list-item">
                <a href="./index.html" class="home-page-nav-link link current">HOME</a>
            </li>
            <li class="home-page-nav-list-item">
                <a href="/#" class="home-page-nav-link link">MY LIBRARY</a>
            </li>
        </ul>
    </div>
    <form class="header-search-form" id="header-search-form">
        <input class="search-input" type="text" name="query" autocomplete="off" placeholder="Поиск фильмов" />
        <button type="submit" class="btn header-search-form-btn">
            <svg class="search-btn-icon" width="12px" height="12px">
                <use href="./images/icons/sprite.svg#icon-search"></use>
            </svg>
        </button>
    </form>
</div>