
<div class="library-page-header-container container">
    <div class="header-section-lib">
        <nav class="navigation">
            <a href="./index.html" class="navigation-logo logo link" aria-label="Логотип сайта">
                <svg class="logo-icon" width="24" height="24">
                    <use href="./images/icons/sprite.svg#icon-film"></use>
                </svg>
                <span class="logo-name">Filmoteka</span>
            </a>
            <ul class="library-page-nav-list list">
                <li class="nav-item">
                    <a href="./index.html" class="nav-link link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="./index.html" class="library-page-nav-link is-current link">My library</a>
                </li>
            </ul>
        </nav>

        <form>
            <ul class="storage js-choice-storage">
                <li class="storage-item list">
                    <label class="storage-label">
                        <input type="radio" name="storage-btn" value="Watched" class="storage-input visuallyhidden"
                            checked />
                        <span class="storage-btn">Watched</span>
                    </label>
                </li>
                <li class="storage-item list">
                    <label class="storage-label">
                        <input type="radio" name="storage-btn" value="Queue" class="storage-input visuallyhidden" />
                        <span class="storage-btn">Queue</span>
                    </label>
                </li>
            </ul>
        </form>
    </div>
</div>