.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination-list {
  display: flex;
  list-style: none;
}

.pagination-list li {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.pagination-list li:not(:last-child) {
  margin-right: 3px;
}

.pagination-list a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  text-decoration: none;

  @include font(12px, 500, 16px);

  color: black;

  &:hover,
  &:focus {
    animation: pulse;
    animation-duration: 1500ms;
  }
}

.pagination-list .active a {
  background-color: var(--accent-color);
  color: #fff;
}

.pagination-list li.paginationjs-ellipsis {
  width: 11px;
}

.paginationjs-prev,
.paginationjs-next {
  background-color: var(--secondary-bg-color);

  &:hover,
  &:focus {
    animation: pulse;
    animation-duration: 1500ms;
  }
}

.paginationjs-prev {
  background-image: url(../images/icons/arrow-left.svg);
}

.paginationjs-next {
  background-image: url(../images/icons/arrow-right.svg);
}
