.topbutton {
    border: 4px solid rgba(252,122,0,.2);
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:50px;
    cursor:pointer;
    color: rgba(255, 166, 0, 0.897); 
    font-family:verdana;
    border-radius: 50%;
    
    display:block;
    position:fixed;
    bottom:30px;
    right:50px;

    &:hover{
    box-shadow: 0px -5px 56px 5px rgba(224, 135, 17, 0.6);
    border-radius: 10px;
}

  @media screen and (max-width: 767px) {
   font-size: 15px;
    right:20px;
  }
 
   @media screen and (min-width: 768px) {
   font-size: 25px;
    right:30px;
  }

    @media screen and (min-width: 1024px) {
    right:20px;
  }
    }