.btn-youtube {
  position: absolute;
  z-index: 1;

  width: 275px;
  height: 40px;
  margin-left: 2px;
  background-repeat: no-repeat;
  cursor: pointer;

  border: 0;
  outline: none;
  background-image: url('../images/icons8-play-button-2.svg');
  background-color: transparent;
}

.btn-youtube-text {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #c4302b;
  cursor: pointer;
  margin: 0;
  z-index: 5;
}

.overlay-btn-youtube-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25px;
  width: 230px;

  pointer-events: none;
  font-family: 'Roboto', sans-serif;

  background-color: rgba(255, 255, 255, 0.8);

  border-radius: 5px;
  top: 3px;
  left: 180px;
  z-index: 2;
  opacity: 0;
  transform: translateX(-63%);
  transition: all 400ms ease-in;
}

.overlay-btn-youtube-text:hover {
  display: flex;
  opacity: 1;
  transform: translateX(-63%);
}

// .lightbox__button {
//   position: fixed;
//   top: 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 50px;
//   height: 50px;
//   padding: 0;
//   margin: 0;
//   border: none;
//   border-radius: 50%;
//   background-color: transparent;
//   color: #fff;
//   cursor: pointer;
//   transition: background-color 200ms ease-in-out;
//   outline: none;
//   background-image: url('../images/icon-close.svg');
//   background-position: center;
//   background-size: 60%;
//   background-repeat: no-repeat;
//   //   transition: all 300ms ease-in;
// }

// .lightbox__button:hover,
// .lightbox__button:focus {
//   background-color: #ff6b08;
// }

// @media screen and (min-width: 300px) and (max-width: 692px) {
//   .lightbox__button {
//     top: 90px;
//     right: calc(((100vw - 324px) / 2));
//   }
// }

// @media screen and (min-width: 768px) {
//   .lightbox__button {
//     top: 100px;
//     right: calc(((100vw - 668px) / 2));
//   }
// }

// @media screen and (min-width: 1024px) {
//   .lightbox__button {
//     top: 100px;
//     right: calc(((100vw - 824px) / 2));
//   }
// }
