.backdropcard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.25);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  // opacity: 1;
  &.is-hidden {
    pointer-events: none;
    opacity: 0;
    transform: translate(0, 0) scale(0);
  }
  &.is-open {
    pointer-events: inherit;
    opacity: 1;
  }
}
.modal {
  position: relative;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%);
  width: 280px;
  top: 20px;
  // bottom: 20px;
  background-color: var(--main-light-color);

  @media screen and (min-width: 768px) {
    display: flex;
    top: 231px;
    width: 618px;
  }
  @media screen and (min-width: 1024px) {
    top: 100px;
    width: 882px;
  }
}
.cardfilm {
  margin-bottom: 30.43px;
  border-radius: 5px;
  overflow: hidden;
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 768px) {
    padding-left: 28px;
    padding-top: 42px;
    // margin-right: 2px;
    padding-right: 0px;
  }
  @media screen and (min-width: 1024px) {
    padding-top: 50px;
    padding-right: 0px;
    padding-left: 30px;
    margin-right: 0px;
  }
}
.film-img {
  border-radius: 5px;
  width: 240px;
  height: 356.57px;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 373.55px;
  }
  @media screen and (min-width: 1024px) {
    width: 396px;
    height: 477.88px;
  }
}
.film-details {
  height: auto;
  padding: 0px 20px 41px;
  @media screen and (min-width: 768px) {
    width: 296px;
    padding-top: 42px;
    padding-left: 32px;
    padding-right: 0px;
  }
  @media screen and (min-width: 1024px) {
    padding-top: 50px;
    width: 396px;
    padding-bottom: 102px;
  }
}
.film-info {
  margin-bottom: 20px;
}
.film-info-item {
  display: flex;
  margin-bottom: 10px;
  & p:last-child {
    max-width: 132px;
  }
}
.film-title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.172;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--main-text-color);
  @media screen and (min-width: 1024px) {
    font-size: 30px;
  }
}
.film-info-title {
  width: 108px;
  font-size: 12px;
  line-height: 1.333;
  font-weight: 500;
  color: var(--secondary-text-color);
  @media screen and (min-width: 1024px) {
    width: 152px;
  }
}
.film-info-vote {
  display: flex;
  font-size: 12px;
  line-height: 1.172;
  font-weight: 500;
  color: var(--main-text-color);
  & > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 16px;
    border-radius: 5px;
    background-color: var(--secondary-bg-color);
    margin-top: -1px;
  }
  & > span:first-child {
    color: var(--main-light-color);
    background-color: var(--accent-color);
  }
}
.film-info-popularity {
  font-size: 12px;
  line-height: 1.172;
  font-weight: 500;
  color: var(--main-text-color);
}
.film-info-genre-item {
  font-size: 12px;
  line-height: 1.172;
  font-weight: 500;
  color: var(--main-text-color);
  &:last-child > span {
    display: none;
  }
}
.film-info-movie-name {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.333;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.film-description-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.333;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--main-text-color);
  @media screen and (min-width: 1024px) {
    width: 396px;
  }
}
.film-description {
  margin: 0;
  margin-bottom: 21px;
  width: 240px;
  font-size: 12px;
  line-height: 1.667;
  font-weight: 500;
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    width: 264px;
  }
  @media screen and (min-width: 1024px) {
    width: 396px;
    margin-bottom: 21px;
  }
}
.film-info-genre-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 132px;
  // @media screen and (min-width: 768px) {
  //   max-width: 156px;
  // }
  // @media screen and (min-width: 1024px) {
  //   max-width: 244px;
  // }
}
.film-btn-box {
  display: flex;
  justify-content: center;
}
.button-film-btn {
  width: 112px;
  height: 44px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.333;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);
  &:first-child {
    margin-right: 15px;
  }
  &:hover {
    color: var(--main-light-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);

    animation: pulse;
    animation-duration: 1500ms;
  }
  @media screen and (min-width: 768px) {
    width: 125px;
  }
  @media screen and (min-width: 1024px) {
    width: 136px;
  }
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;

  border: none;
  background-color: transparent;

  cursor: pointer;
}
.icon-close {
  stroke: var(--main-text-color);
  border: 2px;

  &:hover,
  &:focus {
    box-shadow: 2px 2px 2px 2px rgb(231, 113, 9);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    animation: heartBeat;
    animation-duration: 1500ms;
  }

  // background-image: url('/images/icons/sprite.svg#icon-close');
  // width: 30px;
  // height: 30px;
}
