footer {
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #f7f7f7;
  color: #545454;
  font-weight: normal;
}

.footer-text {
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.hurd-icon {
  margin-left: 3px;
  margin-right: 3px;
  color: #ff6b08;
}

.students-link {
  cursor: pointer;
  text-decoration: underline;

  &:hover,
  :focus{
    color: var(--accent-color);
    box-shadow: 0px 0px 100px 6px rgb(231, 113, 9);
    transition:  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .footer-text {
    font-size: 16px;
    line-height: 1.18;
  }
}

@media screen and (max-width: 767px) {
  .footer-text {
    @include font(14px, 400, 16px);
  }

  .copyright {
    display: block;
    margin-bottom: 7px;
  }
}

